
/.idea/
/klasterix-frontend/node_modules/
/klasterix-frontend/target/
/klasterix-frontend/89889688147bd7575d6327160d64e760.svg
/klasterix-frontend/fa2772327f55d8198301fdb8bcfc8158.woff
/klasterix-frontend/448c34a56d699c29117adc64c43affeb.woff2
/klasterix-frontend/frontend.iml
/klasterix-frontend/e18bbf611f2a2e43afc071aa2f4e1512.ttf
/klasterix-frontend/f4769f9bdb7466be65088239c12046d1.eot
/klasterix-api/logs/
/klasterix-api/klasterix-api.iml
/klasterix-api/target/
/klasterix-frontend/src/main/resources/static/built/
